
.writing-app h1 {
    margin-bottom: 0px;
    margin-top: 0px;
}

.prompt-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.MuiInputBase-root {
    margin-top: 1rem;
}

.MuiFormLabel-root {
    margin-top: 1rem;
    margin-left: 1rem;
}
