.window {
    width: 30rem;
    height: 29rem;
    color: black;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    border: 1px solid black;
}

.windowContent {
    background-color: snow;
    height: 95%;
    overflow-y: auto;
    font-family: Montserrat;
}


.maximized {
    bottom: var(--start-bar-height);
    width: 100%;
    height: 89vh;
    padding: 0px;
    margin: 0px;
    border: 0px solid black;
}


.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;/
}

@media screen and (min-width: 600px) {
    .windowContent {
        height: 95%;
    }
}