.desktop {
  display: flex; 
  flex-direction: column; 
  justify-content: space-between;
  background: linear-gradient(45deg, rgb(0,0,0), rgb(88,143,200));
  flex: 1; /* Allow the desktop to grow and take up all available space 
  overflow: auto; /* Add scroll if the content inside desktop overflows*/
  z-index: 0; /* Make sure the desktop is behind the taskbar */
  position: 'absolute';
  bottom: '5vh'; 
  overflow: 'hidden';
  height: 90%;
  width: 100%;
  
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Safari */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}
 
.desktop-background {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.desktop-background h3 {
  color: aliceblue;
  text-decoration: none;
}

.desktop-icon{
  z-index: 0;
  /* Align to the left with a small margin */
  margin-left: 1rem;
  margin-top: 1rem;
  
  /* Center the child elements relative to each other */
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 7rem;  /* accommodate the widest text */
  text-align: center;  /* Center the text */
}

.desktop-icon h3 {
    font: icon
}

.desktop-icon :hover {
  cursor: pointer;
  background-color: aqua;
} 

