.desktop {
  background: linear-gradient(45deg, rgb(52, 31, 103), rgb(225, 78, 193));
  flex: 1; /* Allow the desktop to grow and take up all available space */
  overflow: auto; /* Add scroll if the content inside desktop overflows */
}