
  .resume {
    max-width: 100%; /* Take the full width of the "window" */
    padding: 20px;
    font-family: 'Helvetica', sans-serif;
    background-color: #F5F5F5;
  }
  
  h1, h2, h3 {
    margin-bottom: 20px;
    text-align: center;
  }

  h1 {
    background-color: #3f848aba;
    color: white;
    padding: 10px;
  }
  
  h2 {
    background-color: #144271;
    color: white;
    padding: 5px;
  }
  
  h3 {
    color: #000000;
  }

  ul {
    list-style-type: none;
    margin-bottom: 20px;
    padding: 0px;
  }
  
  ul li {
    background: white;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px; /* Slight rounding of corners */
  }
  
  a {
    color: #007BFF;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

  .summary {
    font-style: italic;
    margin-bottom: 20px;
    color: #2D2D2D;
  }
  
  /* Add some padding and a border to Professional Experience and Projects */
  .professional-experience, .projects {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px; /* Slight rounding of corners */
  }
  
  