/* Reset some default browser styles */
body, h1, h2, h3, ul, p {
    margin: 0;
    padding: 0;
  }
  
  /* Define the "window" for the resume */
  .resume {
    max-width: 100%; /* Take the full width of the "window" */
    max-height: 95%; /* Set a maximum height for the "window" */
    overflow-y: auto; /* Add scrollbar if content exceeds the height */
    border: 1px solid #2D2D2D;
    padding: 20px;
    font-family: 'Helvetica', sans-serif;
    background-color: #F5F5F5;
  }
  
  /* Add some spacing and centering of text */
  h1, h2, h3 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Add a little color */
  h1 {
    background-color: #3f848aba;
    color: white;
    padding: 10px;
  }
  
  h2 {
    background-color: #144271;
    color: white;
    padding: 5px;
  }
  
  h3 {
    color: #007BFF;
    text-decoration: underline;
  }
  
  /* Adjust List Styles */
  ul {
    list-style-type: none;
    margin-bottom: 20px;
  }
  
  ul li {
    background: white;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px; /* Slight rounding of corners */
  }
  
  /* Add hyperlinks */
  a {
    color: #007BFF;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Style the summary section */
  .summary {
    font-style: italic;
    margin-bottom: 20px;
    color: #2D2D2D;
  }
  
  /* Add some padding and a border to Professional Experience and Projects */
  .professional-experience, .projects {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px; /* Slight rounding of corners */
  }
  
  