:root {
  --start-bar-height: 50px; /* This can be adjusted based on your design */
}

.start-bar {
    height: var(--start-bar-height);
    display: flex;
    position: relative;
    /* grid-template-columns: 1fr auto 1fr; */
    /* grid-template-rows: auto auto; */
    align-items: center;
    justify-content: space-between;
    background-color: #344847;
    color: white;
    /* padding: 10px; */
    z-index: 100;
    height: 10vh;
    
  }
  
  .start-menu {
    position: absolute;
    bottom: 100%; 
    left: 0; 
    z-index: 10; 
    grid-column: 1; 
    grid-row: 1; 
    background-color: white;
    color: black;
    border: 1px solid #ccc;
  }

  .menu-icon, .menu-text {
    margin: 0 0.5rem;  /* Add some margin around the icon and text */
  }

  .start-menu img{
    width: 2rem;
    height: 2rem;
  }
  .start-button {
    /* grid-column: 1; */
    grid-row: 1;
    width: 5rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-size: 1.15rem;
    margin-left: .5rem;
  }
  
  .menu-group {

    display: flex;
    flex-direction: column;
  } 

  .menu-group a, .menu-group button {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border: none;
    background: none;
    color: inherit;
    text-align: left;
    cursor: pointer;
}

/* Hover effect */
.menu-group a:hover, .menu-group button:hover {
    background-color: #f0f0f0;
}

  .minimized-windows{
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .minimized-windows button {
    margin: 0 5px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    max-width: 10rem;
    height: 2rem;
    /* opacity: 0.5; */
  }
  
  .time {
    margin-left: auto;
    padding-right: 1rem;
  }