.outlineContainer {
    display: flex;
    flex-direction: column;
}

.outlineButtons {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
}

.outlineButtons button {
    margin-bottom: .5rem;
    margin-top: .5rem;
}

.MuiCircularProgress-root {
    align-self: center;
}