.projectWindow {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
}

.projectWindow h1 {
    margin-top: 0px;
}

.projectSelect {
    margin-bottom: 1rem;
}

.alexOSAppInfo {
    margin: 1rem;
}

.MuiInputBase-root {
    margin: 1rem;
}