.projectWindow {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
}

.projectWindow h1 {
    margin-top: 0px;
}

.projectSelect {
    margin-bottom: 1rem;
}

.alexOSAppInfo {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.projectWindow a {
    align-self: center;
}

.newsReaderAppInfo {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.articleWriterAssistantInfo {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.projectWindow h2 {
    margin: 0px;
}

.projectWindow h3 {
    margin: 0px;
}

.MuiInputBase-root {
    margin: 1rem;
}

.MuiSelect-select {
    text-align: center;
}